<main class="flex min-h-[100dvh] flex-col justify-center p-6">
  <section class="mx-auto card bg-base-100 shadow-sm max-w-sm py-6">
    <figure class="px-10 pt-10">
      <img src="/icon.svg" alt="logo" class="mx-auto size-32"/>
    </figure>

    <div class="card-body items-center text-center">
      <h2 class="card-title">Connexion</h2>

      <%= form_with url: session_path, scope: :user do |form| %>
        <div class="mt-2 flex flex-col gap-4">
          <%= form.label :email_address, class: "input" do %>
            <%= lucide_icon "user", class: "size-[1em] opacity-50" %>
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "email@exemple.com", value: Rails.env.development? ? "armand.megrot@gmail.com" : params[:email_address] %>
          <% end %>

          <%= form.label :password, class: "input" do %>
            <%= lucide_icon "key", class: "size-[1em] opacity-50" %>
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "••••••••", value: Rails.env.development? ? "dev" : nil, maxlength: 72 %>
          <% end %>

          <% if alert = flash[:alert] %>
            <p class="alert alert-error w-80"><%= alert %></p>
          <% end %>

          <div class="flex items-center gap-2">
            <%= form.submit "Se connecter", class: "btn btn-primary" %>

            <%= link_to "Créer mon compte", new_user_path, class: "btn btn-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
