<main class="flex min-h-[100dvh] flex-col justify-center p-6">
  <section class="mx-auto card bg-base-100 shadow-sm max-w-sm py-6">
    <figure class="px-10 pt-10">
      <img src="/icon.svg" alt="logo" class="mx-auto size-32"/>
    </figure>

    <div class="card-body items-center text-center">
      <h2 class="card-title">Création de compte</h2>

      <%= form_with model: User.new do |form| %>
        <div class="mt-2 flex flex-col gap-4 text-left">
          <fieldset>
            <%= form.label :email_address, class: "input validator" do %>
              <%= lucide_icon "user", class: "size-[1em] opacity-50" %>
              <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "email@exemple.com", value: params[:email_address] %>
            <% end %>
            <p class="validator-hint hidden">
              Doit faire entre 3 et 30 caractères
              <br/>et contenir uniquement des lettres minuscules
            </p>
          </fieldset>

          <fieldset>
            <%= form.label :password, class: "input validator" do %>
              <%= lucide_icon "key", class: "size-[1em] opacity-50" %>
              <%= form.password_field :password, required: true, placeholder: "Mot de passe" %>
            <% end %>
            <p class="validator-hint hidden">
              Requis
            </p>
          </fieldset>

          <% if alert = flash[:alert] %>
            <p class="alert alert-error w-80"><%= alert %></p>
          <% end %>

          <div class="flex items-center gap-2">
            <%= form.submit "Créer mon compte", class: "btn btn-primary" %>

            <%= link_to "Se connecter", new_session_path, class: "btn btn-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
