<%# locals: (recognition_request:)  %>

<div id="<%= dom_id recognition_request %>" class="card bg-base-100 w-96 shadow-sm not-prose">
  <figure class="relative">
    <%= image_tag url_for(recognition_request.photo) %>
  </figure>

  <div class="card-body">
    <h2 class="card-title">
      Identification
      <%=
        case recognition_request.state
        when "pending" then "en attente"
        when "running" then "en cours"
        when "completed" then "réussie"
        when "failed" then "non réussie"
        end
      %>
    </h2>

    <% if recognition_request.completed? %>

      <ul>
        <li>
          Espèce : <strong><%= recognition_request.species %></strong>
        </li>

        <li>
          Fréquence d’arrosage :
          <strong>Tous les <%= number_to_human recognition_request.watering_frequency %> jours</strong>
        </li>
      </ul>

    <% elsif recognition_request.failed? %>

      <% if recognition_request.result.key?(:response) %>
        <%= recognition_request.result[:response] %>
      <% elsif recognition_request.result.key?(:exception) %>
        <%= recognition_request.result[:exception] %>
      <% end %>

    <% end %>

    <div class="card-actions justify-end">
      <% if recognition_request.failed? %>
        <%= button_to "Ré-essayer", recognition_request, params: { recognition_request: { state: "pending" } } %>
      <% end %>

      <% if recognition_request.completed? %>
        <%= button_to "Ajouter à mes plantes", plants_path, params: { plant: { species: recognition_request.species, watering_frequency: recognition_request.watering_frequency, photo_blob_id: recognition_request.photo.blob.id } }, turbo: false, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
