<div class="w-full">
  <% content_for :title, "Plante" %>

  <div id="new_plant" class="min-w-full my-2">
    <h1 class="text-5xl font-extrabold dark:text-white">Nouvelle plante</h1>

    <%= form_with url: recognition_requests_path, class: "max-w-sm mx-auto" do |form| %>
      <div class="mb-5">
        <%= form.label :photo, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.file_field :photo, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-lime-500 focus:border-lime-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-lime-500 dark:focus:border-lime-500" %>
      </div>

      <%= form.submit "Identifier" %>
    <% end %>
  </div>

  <%= link_to "Retour aux plantes", root_path %>
</div>
