<main class="prose dark:prose-invert md:py-16 py-8">
  <header>
    <h1>Identifier ma plante</h1>
  </header>

  <%= form_with model: @recognition_request, class: "contents" do |form| %>
    <fieldset class="group relative flex items-center justify-center w-full" data-controller="file-input-preview">
      <%= form.label :photo, class: "relative flex flex-col items-center justify-center w-full min-h-40 border-2 border-base-300 border-dashed rounded-lg cursor-pointer bg-base-300 hover:bg-base-100 overflow-hidden transition-all" do %>
        <div class="text-center p-4">
          <p>
            <%= lucide_icon "cloud-upload", class: "size-8 inline" %>
          </p>

          <p>
            <span class="font-semibold">Cliquez pour choisir</span> ou glissez-deposez une image
          </p>

          <p class="text-xs">
            PNG ou JPG
          </p>
        </div>

        <%= form.file_field :photo, required: true, accept: "image/*", data: { file_input_preview_target: "input" }, class: "absolute top-0 left-0 w-full h-full px-2 group-invalid:opacity-0 cursor-pointer file:hidden z-1" %>

        <div data-file-input-preview-target="destination" class="flex items-center justify-center w-full py-2"></div>

        <template data-file-input-preview-target="previewTemplate">
          <img alt="Aperçu" class="size-28 object-cover rounded-lg border border-gray-200 dark:border-gray-600 bg-white shadow"/>
        </template>
      <% end %>
    </fieldset>

    <h3>
      Reconnaissance par IA
    </h3>

    <p>
      L’espèce de la plante et sa fréquence d’arrosage seront identifiées par IA à l’aide de GPT-4o.
    </p>

    <%= form.submit "Identifier", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Retour aux plantes", root_path, class: "btn btn-link hotwire-native:hidden" %>
</main>
