<%# locals: (plant:) %>

<%= form_with model: plant, class: "not-prose contents" do |form| %>
  <div class="max-w-sm min-h-40 flex justify-center items-center">
    <% if plant.photo.attached? %>
      <%= image_tag plant.photo, class: "rounded-lg", alt: plant.name || dom_id(plant) %>
    <% else %>
      <%= lucide_icon "image-off", class: "size-10" %>
    <% end %>
  </div>

  <div class="my-4">
    <fieldset class="fieldset">
      <legend class="fieldset-legend"><%= form.label :species %></legend>
      <%= form.text_field :species, class: class_names("input", { "input-error": plant.errors.include?(:species) }) %>
      <% if plant.errors.include?(:species) %>
        <p class="label text-error">
          <strong>Oups !</strong> <%= plant.errors.full_messages_for(:species).to_sentence %>
        </p>
      <% end %>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend"><%= form.label :name %></legend>
      <%= form.text_field :name, class: class_names("input", { "input-error": plant.errors.include?(:name) }) %>
      <% if plant.errors.include?(:species) %>
        <p class="label text-error">
          <strong>Oups !</strong> <%= plant.errors.full_messages_for(:name).to_sentence %>
        </p>
      <% end %>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend"><%= form.label :watering_frequency %></legend>
      <%= form.number_field :watering_frequency, class: class_names("input", { "input-error": plant.errors.include?(:watering_frequency) }) %>
      <% if plant.errors.include?(:species) %>
        <p class="label text-error">
          <strong>Oups !</strong> <%= plant.errors.full_messages_for(:watering_frequency).to_sentence %>
        </p>
      <% end %>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend"><%= form.label :last_watered_at %></legend>
      <div data-controller="datetime-field" class="flex space-x-2">
        <%= form.datetime_field :last_watered_at, data: { datetime_field_target: "input" }, class: class_names("input", { "input-error": plant.errors.include?(:last_watered_at) }), include_seconds: false %>
        <button data-action="datetime-field#setNow" type="button" class="btn">
          Maintenant
        </button>
      </div>
      <% if plant.errors.include?(:last_watered_at) %>
        <p class="label text-error">
          <strong>Oups !</strong> <%= plant.errors.full_messages_for(:last_watered_at).to_sentence %>
        </p>
      <% end %>
    </fieldset>
  </div>

  <%= form.submit "Enregistrer", class: "btn btn-primary" %>
<% end %>

<% if plant.persisted? %>
  <%= button_to "Supprimer", plant_path(plant), method: :delete, data: { turbo_confirm: "Supprimer la plante #{plant.name || plant.species} ?" }, form_class: "contents", class: "btn btn-soft btn-error" %>
<% end %>
