<%# locals: (plant:)  %>

<div class="card bg-base-100 shadow-sm not-prose">
  <figure class="relative">
    <% if plant.photo.attached? %>
      <%= image_tag plant.photo, alt: plant.name || dom_id(plant) %>
    <% else %>
      <%= lucide_icon "image-off", class: "size-10" %>
    <% end %>

    <% if plant.needs_watering? %>
      <div class="absolute top-0 left-1">
        <% badge_color_class, icon =
             case plant.reminder_criticality
             when :urgent then %w[badge-error triangle-alert]
             else ["badge-accent", nil]
             end
        %>
        <div class="badge <%= badge_color_class %>">
          <%= lucide_icon icon, class: "size-[1em]" if icon %>
          Nécessaire depuis <%= distance_of_time_in_words_to_now plant.should_water_at %>
        </div>
      </div>
    <% end %>
  </figure>

  <div class="card-body">
    <h2 class="card-title">
      <%= plant.name.presence || plant.species %>
    </h2>

    <ul>
      <li>
        Arrosage : <strong>tous les <%= number_to_human plant.watering_frequency %> jours</strong>
      </li>
      <li>
        Dernier arrosage : <strong><%= l plant.last_watered_at, format: :long %></strong>
      </li>
    </ul>

    <div class="card-actions justify-end">
      <%= button_to plant_path(plant), method: :put, params: { plant: { last_watered_at: Time.current.iso8601 } }, data: { turbo_confirm: "Mettre à jour la plante ?" }, class: "btn btn-primary" do %>
        Arrosé !
        <%= lucide_icon "droplets", class: "size-[1.2em]" %>
      <% end %>

      <%= link_to edit_plant_path(plant), class: "btn" do %>
        Voir plus
        <%= lucide_icon "arrow-right", class: "size-[1.2em]" %>
      <% end %>
    </div>
  </div>
</div>
