<%# locals: (plant:)  %>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <%= link_to edit_plant_path(plant), class: "min-h-40 flex justify-center items-center" do %>
    <% if plant.photo.attached? %>
      <%= image_tag plant.photo, class: "rounded-t-lg", alt: plant.name || dom_id(plant) %>
    <% else %>
      <%= lucide_icon "image-off", class: "w-10 h-10 text-gray-800 dark:text-white" %>
    <% end %>
  <% end %>

  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%= plant.name.presence || plant.species %>
      </h5>
    </a>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <%
        should_water_at =
          if plant.last_watered_at.nil?
            Time.current
          else
            plant.last_watered_at + plant.watering_frequency.days
          end
      %>
      <% if should_water_at.past? %>
        Arrosage nécessaire depuis : <span class="font-medium"><%= distance_of_time_in_words_to_now(should_water_at) %></span>
      <% else %>
        Arrosage dans : <span class="font-medium"><%= distance_of_time_in_words_to_now(should_water_at) %></span>
      <% end %>
    </p>

    <%= button_to plant_path(plant), method: :patch, params: { plant: { last_watered_at: Time.current } }, class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-700 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:bg-lime-600 dark:hover:bg-lime-700 dark:focus:ring-lime-800" do %>
      Arrosé

      <%= lucide_icon "cloud-rain", class: "w-3.5 h-3.5 ms-2" %>
    <% end %>
  </div>
</div>
